.container{
    background-color: chocolate;
    padding: 100px;
}
.input{
    display: flex;
    justify-content: center;
}
.input input{
    padding: 20px;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.button button{
    background-color: mediumaquamarine;
    padding: 30px;
    border-radius: 10px;
}

#result{
    display: flex;
    justify-content: center;
    padding: 40px;
    color: white;
}
@media screen and (max-width:600px) {
    .container{
        width:fit-content;
        height: fit-content;

    }
    
}